module(load="imuxsock")
module(load="imjournal")
module(load="mmjsonparse")
module(load="gtls")

global(
DefaultNetstreamDriver="gtls"
DefaultNetstreamDriverCAFile="/etc/ssl/certs/ca-certificates.crt"
DefaultNetstreamDriverCertFile="/etc/ssl/certs/{{ fqdn }}.crt"
DefaultNetstreamDriverKeyFile="/etc/ssl/private/{{ fqdn }}.pem"
)

action(
  type="omfwd"
  Target="{{ graylog_url }}"
  Port="{{ graylog_port }}"
  Protocol="tcp"
  StreamDriver="gtls"
  StreamDriverMode="1"  # TLS-only
  StreamDriverAuthMode="x509/name"
  Template="RSYSLOG_SyslogProtocol23Format"
)
